<section class="osahan-main-body osahan-signin-main">
    <div class="container-fluid bg-success">
        <div class="row d-flex align-items-center justify-content-center vh-100">
            <div class="col-lg-4">
                <div class="osahan-slider-item text-center">
                   <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
                      <img class="img-fluid rounded-pill border shadow-sm" src="./assets/img/logo.svg">
                      <h4 class="my-4 text-white">PTECH</h4>
                      <p class="text-center text-white mb-5 h5">Nền tảng thương mại được phát triển bởi nhóm Ptech</p>
                   </div>
                </div>
             </div>
            <div class="col-lg-4 pl-lg-5">
                <div class="osahan-signin shadow-sm bg-white p-4 rounded">
                    <div class="p-3">
                        <p class="small mb-4">Quên mật khẩu</p>
                        <form action="verification.html" [formGroup]="forgotPasswordForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input placeholder="Vui lòng nhập email" type="text" [formControlName]="'email'" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div *ngIf="form.email.touched && form.email.invalid" class="alert alert-danger">
                                    <div *ngIf="form.email.errors">Vui lòng nhập email</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg rounded btn-block" (click)="forgotPassword()" [disabled]="!forgotPasswordForm.valid">Xác nhận</button>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>