<div class="row">
  <!-- Main Sidebar -->
  <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
      <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
        <a class="navbar-brand w-100 mr-0" [routerLink]="['/dashboard']" style="line-height: 25px;">
          <div class="d-table m-auto">
            <span class="d-none d-md-inline ml-1 h3 text-uppercase" style="font-size: 150%;">Bảng điều khiển</span>
          </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
          <i class="material-icons">&#xE5C4;</i>
        </a>
      </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
      <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="navbar-search form-control" type="text" placeholder="Tìm kiếm..." aria-label="Search">
      </div>
    </form>

    <ng-container *ngIf="this.getUserDataS['id_role'] == 2">
      <div class="nav-wrapper">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/disease']">
              <i class="material-icons">coronavirus</i>
              <span title="Trang tổng quan">Quản lí bệnh</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/chat']">
              <i class="material-icons">question_answer</i>
              <span title="Thoát">Chat</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ai-intents']">
              <i class="material-icons">vpn_key</i>
              <span title="Thoát">Từ khoá</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">
              <i class="material-icons">logout</i>
              <span title="Thoát">Thoát</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="this.getUserDataS['id_role'] == 1">
      <div class="nav-wrapper">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
              <i class="material-icons">edit</i>
              <span title="Trang tổng quan">Trang Tổng quan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/account-management']">
              <i class="material-icons">manage_accounts</i>
              <span title="Quản lí tài khoản">Quản lí tài khoản</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/agency-management']">
              <i class="material-icons">apartment</i>
              <span title="Quản lí tài khoản">Quản lí đại lý</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product-management']">
              <i class="material-icons">view_in_ar</i>
              <span title="Quản lí sản phẩm">Quản lí sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/voucher-management']">
              <i class="material-icons">confirmation_number</i>
              <span title="Quản lí danh mục">Quản lí mã giảm giá</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/order-management']">
              <i class="material-icons">reorder</i>
              <span title="Quản lí danh mục">Quản lí đơn hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/disease']">
              <i class="material-icons">coronavirus</i>
              <span title="Trang tổng quan">Quản lí bệnh</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ai-intents']">
              <i class="material-icons">vpn_key</i>
              <span title="Thoát">Từ khoá</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">
              <i class="material-icons">logout</i>
              <span title="Thoát">Thoát</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="this.getUserDataS['id_role'] == 3">
      <div class="nav-wrapper">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product-management']">
              <i class="material-icons">view_in_ar</i>
              <span title="Quản lí sản phẩm">Quản lí sản phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/order-management']">
              <i class="material-icons">reorder</i>
              <span title="Quản lí danh mục">Quản lí đơn hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">
              <i class="material-icons">logout</i>
              <span title="Thoát">Thoát</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

  </aside>
  <!-- End Main Sidebar -->
  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    <div class="main-navbar sticky-top bg-white">
      <app-navbar></app-navbar>
    </div>
    <!-- / .main-navbar -->

    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
          <span class="text-uppercase page-subtitle">Tổng quát</span>
          <h3 class="page-title">Đại lý</h3>
        </div>
      </div>
      <!-- End Page Header -->

      <!-- Default Light Table -->
      <div class="row">
        <div class="col">
          <div class="card card-small mb-4">
            <div class="card-header border-bottom">
              <div class="row">
                <div class="col col-md-3"></div>
                <div class="col-12 col-md-6 mt-auto">
                  <input class="btn1 form-control" type="text" [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Tìm kiếm tên đại lí'">
                </div>
              </div>
            </div>
            <div class="card-body p-0 pb-3 text-center">
              <table class="table table-bordered mb-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ID Đại Lý</th>
                    <th scope="col">Tên Đại Lý</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let agen of allAgency$ | paginate: {itemsPerPage: pagination.size, currentPage: pagination.page, totalItems: pagination.length}">
                    <td>{{agen.id_agency}}</td>
                    <td>{{agen.fullname}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-center">
                <pagination-controls class="my-pagination" previousLabel="Trước" nextLabel="Tiếp"
                  (pageChange)="changePage(pagination.page = $event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Default Light Table -->
    </div>
  </main>
</div>
